*{
    margin: 0%;
    box-sizing: border-box;
}
.Home-Page{
    /* border: 1px red solid; */
    height: 12vh;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(131, 178, 235);
    color: white;
    font-size: 1.5rem;
}

nav {
    /* border: 1px red solid; */
    height: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(131, 178, 235);
    padding-bottom: 2%;

}
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color: beige;
}
nav *{
    padding: 0 25px 0 25px;
    font-size: 24px;
    color: white;
}

h1{
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.hero {
    height: 40vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.hero h1 {
    color: white;
}

.hero-home {
    background-image: url(/images/david-becker-rrfdqjJWwmU-unsplash.jpg);
    background-size: cover;
    background-position-y: -550px;
}

.box1,
.box2 {
    border: 1px solid red;
    height: 12vh;
    width: 20%;
    justify-content: space-between;
}

img {
    height: 30vh;
    display: flex;
    margin: auto;
    padding: 15px;
    max-height: 100%;
}

footer {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    background-color: rgb(131, 178, 235);

}
footer section {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.about-information {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(/images/about-waterfall.jpg);
    
}

.about-information h1 {
    text-align: center;
    color: white;
    margin-bottom: 2%;
}

.about-information p {
    text-align: left;
    width: 50%;
    margin: auto;
    color: white;
    line-height: 200%;
    font-size: larger;
}

.about-info {
    background-color: rgb(131, 178, 235, 0.8);
    width: 80%;
    margin: auto;
    box-shadow: 7px 12px 9px 0px rgb(0 0 0 / 47%);
    padding: 2%;
}

.hero-about {
    background-image: url(/images/jasper-van-der-meij-bygTaBey1Xk-unsplash.jpg);
    background-position-y: -350px;
    background-size: cover;
}

footer a, p {
    padding: 0 75px 0 75px;
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
    color: beige;
}

div.images {
    display: flex;
    padding: 120px;
    justify-content: space-evenly;
}

.images div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images a {
    width: 100%;
    text-align: center;
}
main {
    background-color: rgb(51, 127, 219);
}
.home-img1 a {
    text-decoration: none;
    color: white;
}
.home-img1 a:hover {
    text-decoration: underline;
    color: beige;
}

.home-img2 a {
    text-decoration: none;
    color: white;
}
.home-img2 a:hover {
    text-decoration: underline;
    color: beige;
}
footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer ul li p {
    text-decoration: underline;
    padding: 1%;
}
footer ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-guide {
    background-image: url(/images/matthew-feeney-75IV0_EFh0c-unsplash.jpg);
    background-size: cover;
}

.guide-information {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(/images/steve-dimatteo-W1r1Ii4AW0Q-unsplash.jpg);
    background-size: cover;
}

.guide-information h1 {
    text-align: center;
    color: white;
    margin-bottom: 2%;
}

.guide-information p {
    text-align: left;
    width: 50%;
    margin: auto;
    color: white;
    line-height: 200%;
    font-size: larger;
}

.guide-info {
    background-color: rgb(131, 178, 235, 0.8);
    width: 80%;
    margin: auto;
    box-shadow: 7px 12px 9px 0px rgb(0 0 0 / 47%);
    padding: 2%;
}